In [ ]:
mn=255
T[mn+1]
for i in range(mn+1):
  T[i] = mn - i;